* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: 'Gentium Book Plus', serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 150%;
}

/* index.html style */

.background-img {
    background: url('../images/background-image.webp') no-repeat center center;
    overflow-x: hidden;
    background-attachment: fixed;
}

/* hero home and game page */

#hero {
    border: 2px solid #f050ae;
    height: 200px;
    width: 100%;
    background: black;
}

#hero h1 {
    color: #51aef0;
    padding: 10px 0;
    margin-top: 3px;
    font-family: 'Quicksand', sans-serif;
    font-size: 90px;
    line-height: 2;
    text-align: center;
}

/* game-pre-view */

/* game area index.html and gamearea.html file */

#game-pre-view,
#game-area {
    border: 2px solid #f050ae;
    height: 250px;
    margin: auto;
    width: 40%;
    background: black;
}

#game-name {
    color: #f050ae;
    font-size: 50px;
    margin-top: 8px;
    text-align: center;
}


#icon {
    margin: auto;
    height: 60px;
    width: 6%;
    padding-top: 5px;
}

#answer-box-pre-view {
    background: whitesmoke;
    border: 2px solid #f0e351;
    margin: auto;
    height: 50px;
    width: 50%;
}

#answer-box-pre-view p {
    font-size: 60px;
    margin-top: 8px;
    text-align: center;
}

/* play button */

#button-box {
    justify-content: center;
    align-items: center;
    display: flex;
}

#play-bt {
    background: black;
    border: 2px solid #51f093;
    color: #f050ae;
    font-size: 50px;
}

/* welcome message */

#welcome-message-box {
    border: 2px solid #f050ae;
    background: black;
    height: 50px;
    width: 80%;
    margin: auto;
}

#welcome-message-box h2 {
    color: #b3f5ce;
    font-size: 35px;
    margin-top: 8px;
    text-align: center;
}

/* game instructions */

#game-instructions {
    background: black;
    border: 2px solid #f050ae;
    color: #b3d9f5;
    width: 40%;
    text-align: center;
    font-size: 30px;
    margin: auto;
}

strong {
    color: #f050ae;
}

#game-instructions p {
    font-size: 23px;
    color: white;
    text-align: justify;
    margin: 0 8px;
}

/* gamearea.html style */

a {
    text-decoration: none;
}

button:hover,
#play-bt:hover {
    color: #51f093;
    border-color: #f050ae;
}


/* score buttons */

.score {
    background: black;
    border: 2px solid #51f093;
    height: 40px;
    width: 20%;
    margin: auto;
    padding-top: 5px;
}

.score p {
    color: #f050ae;
    font-size: 30px;
    text-align: center;
}

/* game area */

#image-box {
    border: 2px solid #51aef0;
    background: white;
    height: 80px;
    width: 80px;
    margin: 1% 0 0 45%;
}

#game-answer-box {
    border: 2px solid #f0e351;
    height: 55px;
    width: 60%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: auto;
}

#buttons-box {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
}

#home-bt {
    font-size: 30px;
}

#home-box {
    margin: auto;
    width: 20%;
    margin-right: 620px;
}

.game-box-buttons {
    background: black;
    border: 2px solid #51f093;
    color: #f050ae;
    font-size: 25px;
}

/* Media queries */

/* For larger to medium screens size from 1440px wide and down */

@media (max-width: 1440px) {
    #home-box {
            margin-right: 460px;
        }
}

@media (max-width: 1024px) {
    #game-answer-box {
        font-size: 15px;
    }

    #game-pre-view,
    #game-area {
        width: 60%;
    }

    .score p {
        font-size: 22px;
    }

    .score {
        height: 40px;
    }

    #hero {
        height: 180px;
    }

    #hero h1 {
        font-size: 80px;
    }

    #game-name {
        font-size: 35px;
    }

    #welcome-message-box h2 {
        font-size: 30px;
    }

    #welcome-message-box {
        width: 90%;
        height: 50px;
    }

    #game-instructions {
        width: 50%;
    }

    .game-box-buttons {
        font-size: 25px;
    }

    #image-box {
        margin: 1% 0 0 45%;
    }

    #play-bt {
        font-size: 40px;
    }

    #home-bt {
        font-size: 25px;
    }

    #home-box {
        margin-right: 350px;
    }
}

/* For small screen sizes below 770px width */

@media (max-width: 770px) {
    #home-box {
        margin-right: 270px;
    }

    #game-pre-view,
    #game-area {
        width: 80%;
    }

    #hero {
        height: 160px;
    }

    #hero h1 {
        font-size: 70px;
    }

    #play-bt {
        font-size: 35px;
    }

    .score {
        width: 25%;
    }

    #game-instructions {
        width: 60%;
    }
}

/* For small screen sizes below 425px width */

@media (max-width: 425px) {
    #home-bt {
        font-size: 20px;
    }

    #home-box {
        margin-right: 155px;
    }

    .game-box-buttons {
        font-size: 20px;
    }

    .score {
        width: 48%;
    }

    #game-pre-view,
    #game-area {
        width: 93%;
    }

    #hero {
        height: 100px;
    }

    #hero h1 {
        font-size: 32px;
    }


    #game-answer-box {
        font-size: 13px;
    }

    #image-box {
        margin: 1% 0 0 41%;
    }

    #welcome-message-box {
        width: 95%;
    }

    #welcome-message-box h2 {
        font-size: 20px;
    }
}

/* For small screen sizes below 375px width */

@media (max-width: 375px) {
    #home-box {
        margin-right: 115px;
        width: 28%;
    }
}

/* For small screen sizes below 320px width */

@media (max-width: 320px) {
    #home-box {
        margin-right: 105px;
    }

    .score p {
        font-size: 18px;
    }

    #game-answer-box {
        font-size: 11px;
    }

    #hero {
        height: 80px;
    }

    #hero h1 {
        font-size: 28px;
    }

    #game-name {
        font-size: 25px;
    }

    #play-bt {
        font-size: 25px;
    }

    .game-box-buttons {
        font-size: 16px;
    }

    #image-box {
        margin: 1% 0 0 35%;
    }

    #welcome-message-box {
        height: 53px;
        width: 98%;
    }

    #game-instructions {
        width: 65%;
        font-size: 25px;
    }

}