* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: 'Gentium Book Plus', serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 150%;
}

#hero {
    border: 2px solid #f050ae;
    height: 300px;
    width: 100%;
    background: black;
}

#hero h1 {
    color: #51aef0;
    padding: 10px 0;
    margin: 10px 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 120px;
    line-height: 2;
    text-align: center;
}

#game-pre-view {
    border: 2px solid #f050ae;
    height: 250px;
    margin: auto;
    width: 50%;
    background: black;
}

#game-name {
    color: #f050ae;
    font-size: 50px;
    margin-top: 8px;
    text-align: center;
}

#icon {
    margin: auto;
    height: 60px;
    width: 6%;
}

#answer-box-pre-view {
    background: whitesmoke;
    border: 2px solid #f0e351;
    margin: auto;
    height: 50px;
    width: 50%;
}

#answer-box-pre-view p {
    font-size: 60px;
    margin-top: 8px;
    text-align: center;
}

#start-button{
    background: black;
    border: 2px solid #51f093;
    color: #f050ae;
    font-size: 50px;
    position: fixed;
    left: 45%;
    top: 70%;
   
}

#welcome-message {
    border: 2px solid #f050ae;
    color: black;
    height: 40px;
    width: 80%;
    position: fixed;
    left: 10%;
    top: 80%;
}

#welcome-message h2 {
    font-size: 35px;
    margin-top: 2px;
    text-align: center;
}

#game-instructions {
    font-size: 30px;
position: fixed;
left: 45%;
top: 90%;
}